@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Press Start 2P", cursive, sans-serif;
  margin: 0;
  gap: 2rem;
  background-color: #f9f5eb;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea5455;
  width: 100%;
  color: #e4dccf;
  padding: 35px 0;
  text-decoration: underline;
}

footer {
  width: 100%;
  background-color: #ea5455;
  text-align: center;
  color: #e4dccf;
}

button {
  font-family: "Press Start 2P", cursive, sans-serif;
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #f9f5eb;
  color: #ea5455;
  border: none;
  width: 95%;
}

button:hover {
  background-color: #e4dccf;
}

hr {
  width: 80%;
}

.content-container {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  width: 75%;
}

.button-container {
  flex: 1;
  text-align: center;
  background-color: #002b5b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.color-chooser {
  margin-top: 1em;
  width: 100%;
}

.pens,
.resize-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}

.pens h2,
.resize-control h2 {
  color: #ea5455;
}

.pens {
  flex: 1;
}

.resize-control {
  flex: 1;
}

.resize-control p {
  margin: 0;
  padding: 0;
  color: #ea5455;
}

.resize-control input {
  margin: 0;
  padding: 0;
}

.slider {
  width: 75%;
  padding: 1em 0;
}

.grid-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 660px;
  width: 960px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
}
